<ion-header>
  <ion-toolbar>
    <ion-title>retrait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="loginForm2" *ngIf="!isLoading">
    <ion-card-content>
      <div class="row">
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)" >
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Prenom</ion-label>
                <ion-input type="text" name="username" ngModel></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Nom</ion-label>
                <ion-input type="text" name="Nom" ngModel></ion-input>
            </ion-item>
            
           
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Telephone</ion-label>
                <ion-input type="text" name="Telephone" ngModel></ion-input>
            </ion-item>
          
            
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Numero carte d'identité</ion-label>
                <ion-input type="text" name="cni" ngModel></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block" fill="outline" class="btnLogin2">retrait</ion-button>
        </form>
      </div>
    </ion-card-content>
</ion-card>
</ion-content>
