

ion-segment-button{
    color:  rgb(255, 255, 255);
    background-color:  rgb(58, 168, 187);


}
.row{
    width: 100%;
    margin:auto;
}

.envoi{
    width: 100%;
    margin:auto;
}
ion-button{
    margin:auto;
    width: 50%;

}
a{
    float: left;
    
}
