<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/1.jpg" alt="" />

      <ion-card-header>
          <ion-progress-bar color="primary" value="1"></ion-progress-bar>

        <ion-card-subtitle>SONATEL ACADEMIE</ion-card-subtitle>
        <ion-card-title>Bienvenue chez MoneyGlobe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>MoneyGlobe est une entreprise de transfert d'argent et de services sénégalaise, créée en 2019 à Dakar par Malick dieye.</p>
      </ion-card-content>
      <ion-progress-bar color="primary" value="1"></ion-progress-bar>

      <img src="/assets/téléchargement.jpg" alt="" class="image"/>

    </ion-card>

</ion-content>
