<ion-header>
  <ion-toolbar>
    <ion-title>envoi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="loginForm" *ngIf="!isLoading">
    <ion-card-content>
      <div class="row">
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)" >
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Prenom</ion-label>
                <ion-input type="text" name="username" ngModel></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Nom</ion-label>
                <ion-input type="text" name="Nom" ngModel></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Montant</ion-label>
                <ion-input type="text" name="Montant" ngModel></ion-input>
            </ion-item>
           
            <ion-item >
              
                <ion-label position="floating" class="col-lg-5">Telephone</ion-label>
                <ion-input type="text" name="Telephone" ngModel></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating" class="col-lg-5">nom recepteur</ion-label>
                <ion-input type="text" name="recepteur" ngModel></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating" class="col-lg-5">prenom recepteur</ion-label>
                <ion-input type="text" name="prenomrecepteur" ngModel></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating" class="col-lg-5">Telephone recepteur</ion-label>
                <ion-input type="text" name="Telephonerecepteur" ngModel></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block" fill="outline" class="btnLogin">envoyer</ion-button>
        </form>
      </div>
    </ion-card-content>
</ion-card>

</ion-content>
